In [4]:
import pandas as pd
import sidrapy as sidra

In [5]:
dados_brutos = sidra.get_table(table_code = "5932", territorial_level="1", ibge_territorial_code="all", variable="6562", period = "all")
dados_brutos

,NC,NN,MC,MN,V,D1C,D1N,D2C,D2N,D3C,D3N,D4C,D4N
0,Nível Territorial (Código),Nível Territorial,Unidade de Medida (Código),Unidade de Medida,Valor,Brasil (Código),Brasil,Trimestre (Código),Trimestre,Variável (Código),Variável,Setores e subsetores (Código),Setores e subsetores
1,1,Brasil,2,%,..,1,Brasil,199601,1º trimestre 1996,6562,Taxa acumulada em quatro trimestres (em relaçã...,0,
2,1,Brasil,2,%,..,1,Brasil,199602,2º trimestre 1996,6562,Taxa acumulada em quatro trimestres (em relaçã...,0,
3,1,Brasil,2,%,..,1,Brasil,199603,3º trimestre 1996,6562,Taxa acumulada em quatro trimestres (em relaçã...,0,
4,1,Brasil,2,%,..,1,Brasil,199604,4º trimestre 1996,6562,Taxa acumulada em quatro trimestres (em relaçã...,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,1,Brasil,2,%,..,1,Brasil,202204,4º trimestre 2022,6562,Taxa acumulada em quatro trimestres (em relaçã...,0,
109,1,Brasil,2,%,..,1,Brasil,202301,1º trimestre 2023,6562,Taxa acumulada em quatro trimestres (em relaçã...,0,
110,1,Brasil,2,%,..,1,Brasil,202302,2º trimestre 2023,6562,Taxa acumulada em quatro trimestres (em relaçã...,0,
111,1,Brasil,2,%,..,1,Brasil,202303,3º trimestre 2023,6562,Taxa acumulada em quatro trimestres (em relaçã...,0,
112,1,Brasil,2,%,..,1,Brasil,202304,4º trimestre 2023,6562,Taxa acumulada em quatro trimestres (em relaçã...,0,

In [7]:
dados_brutos["D2C"].tail().str.slice_replace(start = 4, stop=5, repl="-Q")

108    202204
109    202301
110    202302
111    202303
112    202304
Name: D2C, dtype: object

# Tratamento de dados

In [8]:
(
    dados_brutos
    .rename(columns = dados_brutos.iloc[0])
    .query("Valor != 'Valor'")
    .assign(
        data = lambda x: pd.to_datetime(
            x["Trimestre (Código)"].str.slice_replace(start = 4, stop=5, repl="-Q"), 
            utc =True)
    )
)

C:\Users\pedro\AppData\Local\Temp\ipykernel_19488\3203444866.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data = lambda x: pd.to_datetime(

,Nível Territorial (Código),Nível Territorial,Unidade de Medida (Código),Unidade de Medida,Valor,Brasil (Código),Brasil,Trimestre (Código),Trimestre,Variável (Código),Variável,Setores e subsetores (Código),Setores e subsetores,data
1,1,Brasil,2,%,..,1,Brasil,199601,1º trimestre 1996,6562,Taxa acumulada em quatro trimestres (em relaçã...,0,,1996-01-01 00:00:00+00:00
2,1,Brasil,2,%,..,1,Brasil,199602,2º trimestre 1996,6562,Taxa acumulada em quatro trimestres (em relaçã...,0,,1996-04-01 00:00:00+00:00
3,1,Brasil,2,%,..,1,Brasil,199603,3º trimestre 1996,6562,Taxa acumulada em quatro trimestres (em relaçã...,0,,1996-07-01 00:00:00+00:00
4,1,Brasil,2,%,..,1,Brasil,199604,4º trimestre 1996,6562,Taxa acumulada em quatro trimestres (em relaçã...,0,,1996-10-01 00:00:00+00:00
5,1,Brasil,2,%,..,1,Brasil,199701,1º trimestre 1997,6562,Taxa acumulada em quatro trimestres (em relaçã...,0,,1997-01-01 00:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,1,Brasil,2,%,..,1,Brasil,202204,4º trimestre 2022,6562,Taxa acumulada em quatro trimestres (em relaçã...,0,,2022-10-01 00:00:00+00:00
109,1,Brasil,2,%,..,1,Brasil,202301,1º trimestre 2023,6562,Taxa acumulada em quatro trimestres (em relaçã...,0,,2023-01-01 00:00:00+00:00
110,1,Brasil,2,%,..,1,Brasil,202302,2º trimestre 2023,6562,Taxa acumulada em quatro trimestres (em relaçã...,0,,2023-04-01 00:00:00+00:00
111,1,Brasil,2,%,..,1,Brasil,202303,3º trimestre 2023,6562,Taxa acumulada em quatro trimestres (em relaçã...,0,,2023-07-01 00:00:00+00:00
112,1,Brasil,2,%,..,1,Brasil,202304,4º trimestre 2023,6562,Taxa acumulada em quatro trimestres (em relaçã...,0,,2023-10-01 00:00:00+00:00